{{> head}}

{{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>Sobre nosotros</h1>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est ab at voluptatum itaque mollitia consectetur voluptatem facere, unde harum exercitationem natus. Architecto fuga quidem inventore neque voluptate saepe! Voluptatum, minima!
            </p>
        </div>
        <div class="col-4">
            <img src="assets/img/image_demo.jpg" alt="" class="img-thumbnail">
        </div>
    </div>

{{> footer }}